.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow-x: hidden;
    height: -webkit-fill-available;
    overflow: hidden;

    .circle-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        overflow: hidden;
      }

    .circle {
        position: absolute;
        width: 50px;
        height: 20px;
        animation: fall 3s linear infinite;
        z-index: 1;
    }

    .container-inner{
        position: relative;
        max-width: 700px;
        width: -webkit-fill-available;

        display: flex;
        flex-flow: column;
        gap: 40px;
        align-items: center;

        .panel-video{
            display: flex;
            flex-flow: column;
            gap: 30px;
            background: rgb(96, 57, 64, 1);
            border-radius: 12px;
            padding: 10px;
            box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
            width: -webkit-fill-available;
            max-width: 700px;
            position: relative;
            z-index: 1;
        }
    }
    
}

@keyframes scale {
    0% {
        scale: 0.2;
        z-index: 1;
    }
    100% {
        scale: 1;
        z-index: 2;
    }
}

@keyframes top {
    0% {
        top: 60px;
    }
    100% {
        top: -85px;
    }
}

@keyframes bottom {
    0% {
        bottom: 60px;
    }
    100% {
        bottom: -40px;
    }
}

@keyframes fall {
    0% {
      transform: translateY(-100px) scale(0.8) rotate(0deg);
      opacity: 1;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      transform: translateY(100vh) scale(1.2) rotate(360deg);
      opacity: 0;
    }
}
