<div class="main">
    <div class="hearts-container"></div>

    <div class="panel-poem">
        <div class="poem">
            <p>Не знаю, чи правильно, чи ні,</p>
            <p>А може вже і старомодно,</p>
            <p>Але я хочу присвятити вірш тобі,</p>
            <p>Щоб ти всміхнулась, ніжно й гордо.</p>
        </div>

        <div class="poem">
            <p>Ти знаеш, я не Симоненко,</p>
            <p>Такі рядки не зможу присвятить,</p>
            <p>Які б палили сильно,</p>
            <p>Та лишили б слід у серці навік.</p>
        </div>

        <div class="poem">
            <p>Більше усміхайся, тобі це личить,</p>
            <p>Усмішка твоя, мов сонце кличе.</p>
            <p>А очі блакитні, мов небо весни,</p>
            <p>В них тонути — мрійливі сни.</p>
        </div>

        <div class="poem">
            <p>Але на сьогодні питання одне,</p>
            <p>Яке не дає спокою мені.</p>
            <p>Ти станеш валентинкою моєю,</p>
            <p>Скажи: "так" чи "ні"?</p>
        </div>
    </div>

    <div class="buttons">
        <button class="btn-one" (click)="redirectToAnotherPage()">Так</button>
        <button id="no-button" (click)="moveButton()"><img src="/assets/img/kaki.png" alt=""> Ні</button>
    </div>
</div>
